services:
  backend:
    build: ./server
    container_name: quizapp-backend
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    restart: always

  frontend:
    build: ./client
    container_name: quizapp-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
